/* Fonts for main interface */
@font-face {
	font-family: 'arialbold';
	src: url('../fonts/arial_bold-webfont.eot');
	src: url('../fonts/arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arial_bold-webfont.woff2') format('woff2'),
		url('../fonts/arial_bold-webfont.woff') format('woff'),
		url('../fonts/arial_bold-webfont.ttf') format('truetype'),
		url('../fonts/arial_bold-webfont.svg#arialbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-arrow-right:before {
	content: "\f061";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-twitter:before {
  content: "\f099";
}