/*html { height: 100%; position:fixed; }
html,body { min-height: 100%; }*/
header {
  @media (max-width: 768px) {
    background-color: rgba(0,0,0,.8);
    width: 100%;
    z-index: 2;
    padding: 4% 0 3.5%;
    top: 0;
    height: 6%;
    position: absolute;
  }
  .logo-small {
    position: absolute;
    left: 50%;
    z-index: 2;
    @include prefix("transform", "translateX(-50%)");
    top: 4.5%;
    text-align: center;
    @media (max-width: 768px) {
      top: 50%; 
      position: absolute;
      @include prefix("transform", "translate(-50%, -50%)");
      img {
        min-width: 70px;
        width: 27%;
      }
    }
  }
  #social {
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 3%;
    bottom: 4.5%;
    opacity: .5;
    z-index: 3;
    cursor: pointer;
    animation: controll-buttons 6s infinite ease-in-out;
    @include prefix("transition", "all .2s ease-in-out");
    &:hover {
      opacity: 1;
      animation: none;
    }
    svg {
      display: block;
    }
    @media (max-width: 768px) {
      @include prefix("transform", "translateY(-50%)");
      top: 50%;
      width: 9vw;
      height: 9vw;
      left: 10%;
    }
  }
  #social-block {
    position: absolute;
    display: none;
    left: 3%;
    bottom: 4.5%;
    z-index: 3;
    @media (max-width: 768px) {
      height: 100%;
      bottom: 0;
      left: 5%;
    }
    a {
      opacity: .5;
      float: left;
      width: 4vw;
      height: 4vw;
      box-sizing: border-box;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 50%;
      position: relative;
      color: #fff;
      font-size: 1.8vw;
      @include prefix("transition", "all .2s ease-in-out");
      &:hover {
        opacity: 1;
      }
      &:last-child {
        border-color: #fff;
        margin-left: 10px;
        @media (max-width: 768px) {
          margin-left: 7px;
        }
      }
      @media (max-width: 768px) {
        @include prefix("transform", "translateY(-50%)");
        top: 50%;
        width: 9vw;
        height: 9vw;
        font-size: 4.5vw;
        @include prefix("transform", "translateY(-50%)");
        top: 50%;
      }
    }
    i {
      position: absolute;
      top: 51%;
      left: 50%;
      @include prefix("transform", "translate(-50%, -50%)");
    }
  }
  #sound {
    width: 4vw;
    height: 4vw;
    position: absolute;
    right: 3%;
    bottom: 4.5%;
    opacity: .5;
    z-index: 3;
    @include prefix("transition", "all .2s ease-in-out");
    animation: controll-buttons 6s infinite ease-in-out;
    &:hover {
      animation: none;
    }
    @media (max-width: 768px) {
      @include prefix("transform", "translateY(-50%)");
      top: 50%;
      width: 9vw;
      height: 9vw;
      right: 10%;
    }
      .controls {
        fill:none;
        stroke:#FFFFFF;
        stroke-width:4.19;
        stroke-miterlimit:10;
      }
      .icon {
        fill: #fff;
      }
      .wave {
        fill: transparent;
        @include prefix("transition", "all .2s ease-in-out");
      }
      .circle {
        fill:none;
        stroke:#FFFFFF;
        stroke-width:4.19;
        stroke-miterlimit:10;
      }
              
  }
}
.team-wrapper {
  height: 100%;
  section {
    width: 70%;
    //max-width: 1150px;
    padding: 0 1%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    @include prefix("transform", "translate(-50%, -50%)");
    text-align: center;
    @media (max-width: 768px) {
      top: 0;
      @include prefix("transform", "none");
      @include prefix("transform", "translateX(-50%)");
      overflow-y: scroll;
      height: 100%;
      width: 100%;
      padding: 35% 0 20%;
      
    }
    .content-wrapper {
      position: relative;
    }
    .more-text {
      color: #fff;
      text-align: left;
      position: absolute;
      top: 0;
      display: none;
      @media (max-width: 768px) {
        padding: 0 18%;
        position: static;
      }
      p {
        line-height: 21px;
      }
    }
    h1 {
      font-family: "arialbold";
      font-size: 5vw;
      margin: 0 0 3vw;
      line-height: 5vw;
      font-weight: normal;
      @media (max-width: 768px) {
        font-size: 10vw;
        line-height: 10vw;
        display: block;
        width: 80%;
        margin: 0 auto 10vw;
      }
      @media (max-width: 767px) {
        font-size: 13vw;
        line-height: 13vw;
      }
    }
    .show-more {
      @include prefix("transition", "all .3s ease-in-out, opacity .2s ease-in-out");
      -webkit-backface-visibility:hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      border: 3px solid #fff;
      height: 30px;
      width: 30px;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      &.close {
        @include prefix("transform", "rotate(135deg)");
      }
      &:before {
        width: 2px;
        height: 10px;
        background-color: #fff;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        @include prefix("transform", "translate(-50%, -50%)");
      }
      &:after {
        width: 10px;
        height: 2px;
        background-color: #fff;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        @include prefix("transform", "translate(-50%, -50%)");
      }
    }
    .column {
      width: 32%;
      float: left;
      margin-right: 2%;
      color: #fff;
      overflow: hidden;
      opacity: 1;
      @include prefix("transition", "all .3s ease-in-out");
      @media (max-width: 768px) {
        width: 100%;
        float: none;
        margin-bottom: 15%;
        &:last-child {
          margin-bottom: -3%;
        }
      }
      @media (max-width: 767px) {
        margin-bottom: 20%;
        &:last-child {
          margin-bottom: 5%;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .team-logo {
        display: inline;
        width: 40.3%;
        height: auto;
        @media (max-width: 768px) {
          width: 38%;
          margin-top: 3vw;
        }
      }
      .stadium {
        display: inline;
        width: 64.4%;
        height: auto;
      }
      h2 {
        margin: 0;
        color: #fff;
        font-family: "arialbold";
        font-size: 2vw;
        font-weight: normal;
        @media (max-width: 768px) {
          font-size: 28px;
          line-height: 28px;
        }
      }
      .line {
        width: 25%;
        height: 2px;
        background-color: #c6bb61;
        display: block;
        margin: 1.9vw auto 2.6vw;
      }
      .location, .text {
        font-family: "Open Sans";
        font-weight: 700;
        color: #dec675;
        display: block;
        text-align: center;
        font-size: .8vw;
        text-transform: uppercase;
        line-height: 4vw;
        @media (max-width: 768px) {
          font-size: 11px;
          line-height: 22px;
        }
      }
      .team-name {
        font-family: "arialbold";
        font-size: 2vw;
        display: block;
        margin-top: 1.5vw;
        @media (max-width: 768px) {
          font-size: 21px;
        }
      }
      .stadium-name {
        font-family: "arialbold";
        font-size: 2vw;
        display: block;
        margin-top: 1.1vw;
        @media (max-width: 768px) {
          font-size: 28px;
          margin-top: 9;
        }
      }
      .details {
        font-family: "Open Sans";
        font-weight: 600;
        color: #fff;
        font-size: .6vw;
        display: block;
        @media (max-width: 1550px) {
          font-size: 1vw;
          -webkit-font-smoothing: antialiased;
        }
        @media (max-width: 768px) {
          font-size: 11px;
          opacity: .5;
          -webkit-font-smoothing: auto;
        }
      }
      .statistics {
        width: 100%;
        .middle-wrapper {
          display: block;
          margin: .8vw 0 .9vw;
        }
        .block {
          width: 48%;
          margin-right: 4%;
          float: left;
          text-align: right;
          @media (max-width: 768px) {
            margin-top: 10px;
          }
          &:last-child {
            margin-right: 0;
            text-align: left;
          }
          .header {
            display: block;
            font-size: 3.5vw;
            font-family: "arialbold";
            line-height: 3.5vw;
            @media (max-width: 768px) {
              font-size: 33px;
              line-height: 33px;
            }
          }
          .statistic-details {
            font-family: "Open Sans";
            font-weight: 600;
            font-size: .6vw;
            display: block;
            @media (max-width: 1550px) {
              font-size: 1vw;
              -webkit-font-smoothing: antialiased;
            }
            @media (max-width: 768px) {
              font-size: 9px;
              opacity: .6;
              -webkit-font-smoothing: auto;
            }
          }
        }
      }
    }
  }
}
