@include keyframe(left-arrow) {
	0% {
		left: 3%;
	}
	50% {
		left: 2.5%;
	}
	100% {
		left: 3%;
	} 
}
@include keyframe(right-arrow) {
	0% {
		right: 3%;
	}
	50% {
		right: 2.5%;
	}
	100% {
		right: 3%;
	} 
}
@include keyframe(controll-buttons) {
	0% {
		opacity: .5;
	}
	80% {
		opacity: .5;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	} 
}