@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html, body, #content, #landing {
  height: 100%;
  min-height: 100%;
}
body {
  background-image: url(images/background.jpg);
  background-position: bottom center;
  background-attachment: fixed;
  @include prefix(background-size, cover);
  width: 100%;
}
#content {
  display: none;
  position: relative;
  overflow-x: hidden;
}
#landing {
  width: 100%;
  position: absolute;
  overflow: hidden;
  .wrapper {
  	width: 880px;
  	top: 50%;
  	left: 50%;
  	position: absolute;
  	@include prefix("transform", "translate(-50%, -50%)");
    @media (max-width: 1300px) {
      width: 54vw;
    }
  	@media (max-width: 1050px) {
  	  width: 80%;
  	}
  }
  .logo {
  	img {
  	  width: 100%;
  	}
  }
  p {
  	color: #ffffff;
  	text-align: center;
  	font-size: 16px;
  	padding: 90px 15px 60px;
  	font-family: "Open Sans";
  	font-weight: 700;
  	@media (max-width: 1050px) {
  	  padding-top: 7vw;
  	}
  }
  #show-content {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    color: #fecb66;
    text-transform: uppercase;
    border: 2px solid #fecb66;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 56px;
    width: 200px;
    height: 60px;
    box-sizing: border-box;
    @include prefix("transition", "margin-top .2s ease-in-out");
    cursor: pointer; 
    @media (min-width: 768px) {
      &:hover {
        border: 2px solid #fff;
        color: #fff;
        .block {
          margin-top: -60px;
        }
      }
    }
    @media (max-width: 1050px) {
      width: 160px;
      height: 50px;
      line-height: 46px;
      font-size: 21px;
    }

    @media (max-width: 1050px) and (min-width: 768px) {
      &:hover {
        .block {
          margin-top: -50px;
        }
      }
    }
    .block {
      @include prefix("transition", "margin-top .2s ease-in-out");
      padding-top: 0 !important;
    }
    span {
      display: block;
      &:last-child {
        padding-top: 2px;
      }
    } 
  }
}