@media only screen and (max-device-width : 736px) and (orientation : landscape) {
	#landing {
		.logo {
		    width: 66% !important;
    		margin: 0 auto;
		}
		p {
			font-size: 12px !important;
		    padding: 2vw 15px 26px !important;
		}
		#show-content {
			width: 160px !important;
			height: 50px !important;
			line-height: 50px !important;
			font-size: 16px !important;
		}
	}
	.logo-small {
		img {
			width: 20vw !important;
		}
	}
	#sound {
		width: 6vw !important;
	}
	#social {
		width: 6vw !important;
	}
	#social-block {
		a {
			width: 6vw !important;
			height: 6vw !important;
			font-size: 3vw !important;
		}
	}
	.team-wrapper {
		section {
			padding-top: 0;
			padding-bottom: 15%;
			h1 {
				font-size: 7vw;
				line-height: 7vw;
				width: 60%;
				height: 100vh;
				span {
					position: absolute;
					top: 55%;
					left: 50%;
					@include prefix("transform", "translate(-50%, -50%)");
				}
			}
			.team-logo {
				width: 28% !important;
			}
			article {
				margin-bottom: 10% !important;
				&:last-child {
					margin-bottom: 0 !important;
				}
			}
			.more-text {
				margin-bottom: 5%;
			}
		}
	}
	#pager {
		padding: 2% 0 1%;
		a {
			width: 4%;
		}
	}
}
/* Fix for widescreens */
@media (min-width : 1000px) and (max-height: 650px) {
	#landing {
		.wrapper {
			width: 100vh;
		}
	}
	.logo-small {
		img {
			width: 60% !important;
		}
	}
	.team-wrapper {
		section {
			top: 47%;
		}
		h1 {
			font-size: 3vw !important;
			line-height: 3vw !important;
			margin-bottom: 1vw !important;
		}
	}
}