#real-madrid {
	@include main-color(#FFCB66);
}
#barcelona {
	@include main-color(#0B76E0);
}
#juventus {
	@include main-color(#A49898);
}
#borussia-dortmund {
	@include main-color(#FCE000);
}
#manchester-united {
	@include main-color(#F0493E);
}
#lazio {
	@include main-color(#87D9F7);
}
#celtic {
	@include main-color(#009D4A);
}
#milan {
	@include main-color(#ED334F);
}
#red-star-belgrade {
	@include main-color(#CF000D);
}
#galatasaray {
	@include main-color(#FDA403);
}