@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin keyframe($animation_name) {
    @keyframes #{$animation_name} {
        @content;
    }
    @-webkit-keyframes #{$animation_name} {
        @content;
    }
}

@mixin main-color($color) {
	.main-color {
		color: $color;
  		border-color: $color !important;
  		&:after, &:before {
    		background-color: $color !important;
  		}
	}
}