.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  height: 100%;
  img {
    max-width: 100%;
    display: block;
    height: 100%;
  }
}
.bx-viewport {
  height: 100% !important;

}

.bxslider {
  margin: 0;
  padding: 0;
  height: 100%;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  -webkit-transform: translatez(0);
}

#slider-prev, #slider-next {
  width: 3vw;
  position: fixed;
  top: 42.25%;
  font-size: 40px;
  @media (max-width: 768px) {
    width: 9vw;
    top: 50%;
    @include prefix("transform", "translate(-50% 50%)");
    opacity: .6;
  }
  a {
    color: white;
    .arrow {
      fill: #fff;
    }
  }
}
#slider-prev {
  left: 3vw;
  @media (min-width: 769px) {
    &:hover {
      animation: left-arrow .5s forwards ease-in-out;
    }
  }
  @media (max-width: 768px) {
    left: 5vw;
  }
}
#slider-next {
  right: 3vw;
  @media (min-width: 769px) {
    &:hover {
      animation: right-arrow .5s forwards ease-in-out;
    }
  }
  @media (max-width: 768px) {
    right: 5vw;
  }
}
#pager {
  position: absolute;
  bottom: 4.5%;
  left: 50%;
  width: 100%;
  text-align: center;
  @include prefix("transform", "translateX(-50%)");
  @media (max-width: 768px) {
    padding: 4% 0 4.5%;
    bottom: 0;
    background-color: rgba(0,0,0,1);
    width: 100%;
  }
  a {
    margin-right: 3.5%;
    position: relative;
    display: inline-block;
    width: 3%;
    
    @media (max-width: 768px) {
      width: 5%;
    }
    @media (min-width: 769px) {
      &:hover {
        img {
          opacity: .5;
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
        }
      }
    }
    img {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      @include prefix("transition", "opacity .2s ease-in-out");
      height: auto;
      opacity: .2;
      width: 100%;
      @media (max-width: 768px) {
        opacity: .3;
      }
    }
    &.active {
      img {
        opacity: 1;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
      &:before {
        content: "";
        position: absolute;
        width: 45%;
        height: .2vw;
        top: -0.8vw;
        left: 50%;
        @include prefix("transform", "translateX(-50%)");
        background-color: #fff;
        border-top: 1px solid #888482;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  
}
